$cols: 12;

$width-base: (100%/$cols);

%clearfix {
	&:before, &:after {
		display: table;
		content: '';
		clear: both;
	}
}

.container {
	width: 100%;
	max-width: 80rem;
}

.row {
	@extend %clearfix;
}

[class*='col-'] {
	width: 100%;
	float: left;
	min-height: 1px;
	//gutter
	//
}

@media screen and (min-width: 53rem) {
	@for $i from 1 through $cols {
		.col-#{$i} {
			width: $width-base*$i;
		}
	}
}
